
{% extends '_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Bootstrap CSS -->
    
    <title>{% block title %}Home{% endblock title %}</title>

  </head>

 <body>
  <div class="card p-0 mt-0 text-black">

   <img src="{% static 'images/homepagepic.jpg' %}" class="card-img  " alt="image">
   <div class="card-img-overlay">
   {% block content %}

   
    <section id="blog" class="blog">
      <div class="container">
    
    
        <div class="row">
          <div class="col-sm-8 pt-4 pb-4 ">
           
            <div class="card  text-white border-dark  mb-3 "style="background-color: #000000;">

            <div id="carouselExampleFade" class=" card-img-top carousel slide carousel-fade" data-bs-ride="carousel" height= '325'>
            {% for listoffood in FoodMenu_HomeList %}

              <div class="carousel-inner">
                <div class="carousel-item active " data-bs-interval="2000">
                  <img src= "{{ listoffood.home_picture_first.url}}"  class="d-block w-100" height=" 325" alt="picture">
                </div>
                
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src="{{ listoffood.home_picture_second.url}}"  class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src="{{ listoffood.home_picture_third.url}}"  class="d-block w-100" height=" 325" alt="picture">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            {% endfor%}


              <div class="card-body px-4">
                <h2 class="card-title pb-2">Welcome to Global.Chilli</h2>
                <time class="px-2 bi bi-clock fw-lighter"> &nbsp 5 am to 12 pm </time>
                <time class="px-2 bi bi-phone fw-lighter"> &nbsp +91 5555 9999 </time>

                <div class="pt-5 pb-5 d-grid gap-4 d-md-flex  justify-content-md-start">
                  <a href= "{% url 'core:product-list' %}" class="btn btn-outline-danger me-md-2" type="button">ORDER ONLINE</a>
                  <a href= "{% url 'reservation' %}" class="btn btn-outline-danger me-md-2" type="button">RESERVATIONS</a>               
                  <a href="{% url 'core:product-list' %}" class="btn btn-outline-danger me-md-2 " type="button">&nbsp&nbsp&nbsp&nbspMENU&nbsp&nbsp&nbsp&nbsp</a>
                  <a href="{% url 'feedback'%}" class="btn btn-outline-danger" type="button">GIVE FEEDBACK</a>
                </div>
    
             
              </div>
            </div>
          </div>

          <div class="col-sm-4 pt-4 pb-5">
            <div class="card shadow">
              <div class="card-body">
          
               <div><h4 class="sidebar-title pt-3 pb-3">Menu</h4></div>

               {% for listoffood in FoodMenu_HomeList %}
               <div class="col">
      
                <!-- <div class="card shadow-sm"> -->
                  <a class="food-image" href="{% url 'core:product-list' %}">
                    <img class="foodimage" src="{{ listoffood.foodmenu.url}}" alt="{{ listoffood.title }}" width="100%" height="225" >
                  </a>
                   <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
         
                   <div class="card-body">
                     <h3 class="card-text"> {{ listoffood.title }}</h3>
                     <div class="d-flex justify-content-between align-items-center">
                     </div>
                   </div>
                </div>     
               </div>


               
             {% endfor%}
             <div class="p-3 pt-0 d-grid  d-md-flex  justify-content-md-start">
              <a href="{% url 'core:product-list' %}" class="btn btn-outline-danger" type="button">More...</a>
            </div>


            </div>
          </div>

         </div>
        </div>
      
      </div>

    </section>

   {% endblock content %}
   </div>
   </div>


  </body>
</html>