<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    

    <title>{% block title %}GLobal.Chilli{% endblock title %}</title>
   

     <!-- Favicons -->
    <link href="{% static 'images/logo1.png' %}" rel="icon" type= "images/png" sizes="25x25">
    <link href="{% static 'images/apple-touch-icon.png' %}" rel="apple-touch-icon">
     <!-- Favicons end -->

  </head>

  <body>

    <!-- top nav bar-->
    <div class="container mb-5 pb-0 ">

      <nav class="navbar mb-0 p-md-0  navbar-expand-lg navbar-dark fixed-top" style="background-color: #000000;">
        <div class="container-md ">
          <a class="navbar-brand py-0 " href="{% url 'home' %}">
  
            <img class ="py-0 my-0" src="{% static 'images/logo1.png' %}" alt="image" width="30" class="d-inline-block align-middle ">
            <b>Global.Chilli</b>
          </a>
  
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav flex-row me-md-auto d-md-flex me-auto px-2 mb-2 mb-lg-0">
              
              <li class="nav-item p-2">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link active" href="{% url 'gallery' %}">Gallery</a>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link active" href="{% url 'about' %}">About</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item p-2">
                <a class="nav-link active" href="{% url 'core:product-list' %}">Order</a>
              </li>
              <li class="nav-item p-2 dropdown">
                <a class="nav-link active dropdown-toggle " style="text-transform: uppercase;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ user.username }}
                </a>
              </a>
              <ul class="dropdown-menu p-2" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'core:order-summary' %}">My Basket</a></li>
                <li><a class="dropdown-item" href="{% url 'core:my-order' %}">My Order</a></li>
                <li><a class="dropdown-item" href="{% url 'profile_detail' %}">profile</a></li>
                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a></li>
                {% else %}
                <li class="nav-item p-2 dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu p-2" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'account_login' %}">Sign In</a></li>
                  <li><a class="dropdown-item" href="{% url 'account_signup' %}">Registration</a></li>
                  <li><hr class="dropdown-divider"></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>


    {% block content %}




    

    {% endblock content %}
      <!-- ======= Footer ======= -->
      <footer id="footer">
        <div class="footer-top">
          
         <div class="container-bottom">
 
           <div class="row pb-0">
               <div class="card shadow text-white card-fluid px-4 pb-0 pt-4 w-100" style="background-color: #000000;">
                 <div class="card-body d-inline-flex p-lg-4">
 
                   <div class="footer-contact fw-normal px-lg-5">
                     <h2 class="card-title">Global.Chilli</h2>
                     <p>   
                      Victoria Terminus, Hazarimal Somani Rd, <br>
                      Azad Maidan, Fort, Mumbai,<br>
                      Maharashtra 400001 <br><br>
                       <strong>Phone:</strong> +91 5555 9999 22<br>
                       <strong>Email:</strong> globalChilli@gmail.com<br>
                     </p>
                   </div>
                   
                   <div class="footer-links pt-lg-3 mx-lg-5 px-lg-5">
                     <h4>Useful Links</h4>
                     <ul>
                      <li><a href="{% url 'home' %}" class= " text-decoration-none fw-normal text-white"> Home</a></li>
                      <li><a href="{% url 'about' %}" class= " text-decoration-none fw-normal text-white"> About me</a></li>
                      <li><a href="#" class= " text-decoration-none fw-normal text-white"> Terms of services</a></li>
                      <li><a href="#" class= " text-decoration-none fw-normal text-white"> privacy policy</a></li>
                     </ul>
                   </div>
                 </div>
               </div>
             </div>
 
             <div class=" container container-fluid  px-4 mx-lg-5 d-md-flex py-4">
 
               <div class="me-md-auto text-center text-md-start">
               <div class="copyright">
               &copy; Copyright <strong><span>Global.Chilli</span></strong> All Rights Reserved
               </div>
               <div class="credits ">
               Designed by <a href="https://abidsayyed101@gmail.com/">Abid Sayyed</a>
             </div>
           </div>
 
          </div>
         </div>
       </div>
 
     </footer><!-- End Footer -->
 
 
       <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
       <!-- Option 2: Separate Popper and Bootstrap JS -->
 
   </body>
      
 
 </html>
 
 
