
{% extends '_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Bootstrap CSS -->
    
    <title>{% block title %}Home{% endblock title %}</title>

  </head>

 <body>
  <div class="card p-0 mt-0 text-black">

   <img src="{% static 'images/homepagepic.jpg' %}" class="card-img  " alt="image">
   <div class="card-img-overlay">
   {% block content %}

   
    <section id="blog" class="blog">
      <div class="container">

        
        <div class="row">
          <div class="col-sm-8 pt-4 pb-4 ">
           
            <div class="card  text-white border-dark  mb-3 "style="background-color: #000000;">
            <img src="{% static 'images/homepagepic.jpg' %}" class="card-img-top bg-dark" alt="" height="325">

              <div class="card-body px-4">
                <h2 class="card-title pb-2">Welcome to Global.Chilli</h2>
                 <a href="#" class="bi bi-person text-decoration-none fw-lighter text-dark"> &nbspAbid Sayyed</a>
                <time class="px-2 bi bi-clock fw-lighter"> &nbsp Feb. 20, 2021 </time>

                <div class="pt-5 pb-5 d-grid gap-4 d-md-flex  justify-content-md-start">
                  <a href= "#" class="btn btn-outline-danger me-md-2" type="button">ORDER ONLINE</a>
                  <a href= "#" class="btn btn-outline-danger me-md-2" type="button">RESERVATIONS</a>               
                  <a href="{% url 'menu' %}" class="btn btn-outline-danger me-md-2 " type="button">&nbsp&nbsp&nbsp&nbspMENU&nbsp&nbsp&nbsp&nbsp</a>
                  <a href="#" class="btn btn-outline-danger" type="button">GIVE FEEDBACK</a>
                </div>
    
             
              </div>
            </div>
          </div>

          <div class="col-sm-4 pt-4 pb-5">
            <div class="card shadow">
              <div class="card-body">
          
               <div><h4 class="sidebar-title pt-3 pb-3">Menu</h4></div>

               {% for listofblog in homeblog_list %}

                <div class="d-flex flex-row">
 
                 <img src="{% static 'images/logo.png' %}" class=" d-flex justify-content-between" alt="image" width="85">
                 <h6><a href="{{ listofblog.get_absolute_url }}" class= " d-flex justify-content-between  ps-2 pt-3 text-decoration-none fst-normal text-dark pb-2"> {{ listofblog.title }}</a></h6>
                
                </div>

              <div><p class="card-text"><small class="d-flex pb-4 pt-0 pe-5 justify-content-end text-muted">{{ listofblog.publish_date }}</small></p></div>

               
             {% endfor%}
            </div>
          </div>

         </div>
        </div>
      
      </div>

    </section>

   {% endblock content %}
   </div>
   </div>


  </body>
</html>